<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>detail</title>
</head>
<body>
  <h1>상세 페이지</h1>
  <hr>
  <h1>{{musician}}</h1>
  <hr>
  <p>{{musician.name}}</p>
  <p>{{musician.age}}</p>
  <hr>
  <button><a href="{% url 'musicians:index' %}">목록</a></button>
  <button><a href="{% url 'musicians:edit' musician.pk %}">수정</a></button>
  <form action="{% url 'musicians:delete' musician.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <hr>
  <h2>발매된 앨범 정보</h2>
  <hr>
  <ul>
    {% for album in albums %}
    <li>
      {{album.musician.name}} - {{album.title}}
      <form action="{% url 'musicians:delete_album' musician.pk album.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    </li>
    {% empty %}
      <p>앨범이 없습니다.</p>
    {% endfor %}
  </ul>
  <form action="{% url 'musicians:create_album' musician.pk %}" method="post">
    {% csrf_token %}
    {{album_form}}
    <input type="submit" value="앨범 등록">
  </form>
</body>
</html>