@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    font-family: 'BMDOHYEON' !important;
}

.top-div {
    margin-top: 100px;
    border-bottom: 4px solid rgba(0, 73, 55, 0.5);
    margin-bottom: 20px;
}

.info-line {
    font-size: 16pt;
    border-bottom: 2px solid rgba(0, 114, 85, 0.5);
    margin-bottom: 20px;
}

.info-line > div, input {
    margin-bottom: 20px;
    display: inline-block;
}

.info-line > input {
    border: 0.1;
    width: auto;
    border-color: rgba(209, 209, 209, 0.5);
    border-radius: 2%;
}

img {
    width: 400px;
    border-radius: 5%;
    border: 1px solid rgba(0, 73, 55, 1);
}

.info-line > textarea {
    border: 0.1;
    width: auto;
    border-color: rgba(170, 170, 170, 0.5);
    border-radius: 2%;
}

.submit-btn {
    font-size: large;
    position: absolute;
    right: 0;
    width: 120px;
    height: 40px;
    border-radius: 8%;
    border: 0.2;
    border-color: rgba(112, 112, 112, 0.5);
}