@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    font-family: 'BMDOHYEON' !important;
}

.top-div {
    margin-top: 100px;
    border-bottom: 4px solid rgba(0, 73, 55, 0.5);
    margin-bottom: 20px;
}

.row-line {
    font-size: 16pt;
    align-content: center;
    border-bottom: 2px solid rgba(0, 114, 85, 0.5);
}

.info-line {
    padding-left: 100px;
}

.info-line > div, input {
    display: inline-block;
    border-bottom: 2px solid rgba(0, 114, 85, 0.5);
    margin-bottom: 20px;
}

/* .info-line > div:last-child {
} */

.info-line > input {
    border: 0.1;
    width: auto;
    border-color: rgba(209, 209, 209, 0.5);
    border-radius: 2%;
}

img {
    width: 400px;
    border-radius: 5%;
    border: 1px solid rgba(0, 73, 55, 1);
    margin-bottom: 20px;
}

.btn-row {
    margin-top: 20px;
}

.btn {
    font-size: x-large;
    border-radius: 6%;
    border: 1px;
    border-color: rgba(187, 187, 187, 0.5);
    margin-bottom: 10px;
    text-align: center;
}

.btn:hover {
    color: rgba(0, 114, 85, 0.5);
}